h1{
    color: dodgerblue; 
    font-family: monospace;
}

h3{
    color: indigo;
    font-family: monospace;
}

span{
    color: dimgrey;
    font-family: Arial;
    font-size: 18px;
}

.destaque {background-color: yellow;

}

.destaquevermelho {
    background-color: rgb(252, 110, 110);
}

#italico{
    color: blueviolet;
    background-color: aquamarine;
    font-family: monospace;
    font-size: 20px;

}